{% extends 'base.html.twig' %}

{% block title %}Reinitialisation de mot de passe
{% endblock %}

{% block body %}
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="row ec_breadcrumb_inner">
					<div class="col-md-6 col-sm-12">
						<h2 class="ec-breadcrumb-title">Recupération de Mot Passe</h2>
					</div>
					<div class="col-md-6 col-sm-12">
						<!-- ec-breadcrumb-list start -->
						<ul class="ec-breadcrumb-list">
							<li class="ec-breadcrumb-item"><a href="{{path('app_main')}}">Home</a></li>
							<li class="ec-breadcrumb-item active">New password</li>
						</ul>
						<!-- ec-breadcrumb-list end -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="ec-page-content section-space-p">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="section-title">
					<h2 class="ec-bg-title">Nouveau password/h2>
					<h2 class="ec-title">Nouveau password</h2>
					<p class="sub-title mb-3">Saisir Votre Mot de passe</p>
				</div>
			</div>
			<div class="ec-login-wrapper">
				<div class="ec-login-container">
					<div class="ec-login-form">
						<span class="ec-login-wrap">
						{#POUR RECUPERER UN FORMULAIRE AVEC TWIG ON UTILISE form et on mets le nom du formulaire #}
						{{form_start(passForm)}}
						{{form_row(passForm.password)}}
					</span>
						
					<span class="ec-login-wrap ec-login-btn">
						<button class="btn btn-primary" type="submit">Envoyer</button>
					</span>
						{{form_end(passForm)}}
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
