{% extends "base.html.twig" %}

{% block title %}Ajout Des Produits
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<div class="container">
			<section class="row">
				<div class="col-12">
					<h1>Ajouter un produits✅</h1>
					{% include "admin/products/_form.html.twig" %}
				</div>
			</section>
		</div>
	</div>
</div>{% endblock %}
