<h1>Activez votre compte</h1>
<p>Bonjour {{user.firstname}}</p>
<p>votre inscription sur le site e-commerce est à valider en cliquant sur le liens ci-dessous</p>
<p><a href="{{ absolute_url(path('verify_user',{token: token})) }}">{{ absolute_url(path('verify_user',{token: token}))}}</a></p>
<p>ce liens expirera dans 3h</p>